# Prerequisites
*.d

# Build folders
build
docs/_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python exectuables
*.pyc
dist/
__pycache__

# Pytest files
.pytest_cache

# Coverage results
*.coverage*

# Pyenv files
.python-version

# VS Code files
.vscode/

# nox files
.nox/

# Dropboxignore file
.dropboxignore
**/.dropboxignore

# Temporary text files
*.swp
src/last_letter_lib.egg-info
