# Using this file for the C++ codebase. Use poetry to manage the requirements of
# the Python library.
numpy>=1.19.2, <1.22
PyYAML>=5.3.1
markupsafe==2.0.1 # Later versions have breaking changes with pcg-gazebo->jinja2
pcg-gazebo>=0.7.4
